* {
  color: antiquewhite;
  margin: 0;
  padding: 0;
}

body,
#content {
  height: 100vh;
  width: 100vw;
}

#content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr;
  grid-template-areas:
    "header"
    "main";
}

#header {
  grid-area: header;
  padding: 26px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6497b1;
}

.first-title {
  font-size: 16px;
}

.second-title {
  margin-left: 10px;
  font-size: 24px;
}

#tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.tab {
  font-size: 18px;
  cursor: pointer;
}

.tab:hover {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: darkgoldenrod;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}

.tab.active {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: antiquewhite;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}

#main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  background-color: #6497b1;
}

#home-div {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 2fr 2fr;
  grid-template-areas:
    "home-hero home-img"
    "home-hero home-img";
}

#home-hero {
  grid-area: home-hero;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}

.hero-text {
  padding: 0px 20px;
  margin-left: 30px;
  font-size: 50px;
}

.hero-btn {
  border: 1px solid antiquewhite;
  border-radius: 8px;
  background-color: #6497b1;
  margin-left: 80px;
  width: 180px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: antiquewhite;
  cursor: pointer;
}

#hero-img {
  grid-area: home-img;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cookie-img {
  height: 450px;
}

#menu-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5fr 1fr;
  grid-template-areas:
    "menu-text menu-text"
    "menu-btn menu-btn";
}

#menu-text-div {
  grid-area: menu-text;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-text {
  font-size: 41px;
  font-weight: bold;
  text-align: center;
}

#menu-btn-div {
  grid-area: menu-btn;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-btn {
  border: 1px solid antiquewhite;
  border-radius: 8px;
  background-color: #6497b1;
  width: 180px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: antiquewhite;
  cursor: pointer;
}

#about-div,
#about-text-div {
  display: flex;
  justify-content: center;
  align-self: center;
}

#about-text-div {
  width: 800px;
}

.about-text {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
